
body {
  margin: 0;
  font-size: 30;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: purple;
  height: 130px;
}

.logo-home {
  float: left;
  display: inline-block;
}
.cursor {
  cursor: pointer;
}
.other-links {
  float: right;
  display: inline-block;
}

.logo-home, .other-links {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.content {
  padding-top: 130px;
  background-color: cyan;
}

.section {
  height: 100vh;
  margin-left: 7%;
  margin-right: 7%;
  border: solid;
  border-width: 5px;
  border-color: black;
}

.bottom-anchor {
  color: white;
  background-color: grey;
}
