body {
  margin: 0;
  font-size: 30;
  font-family: sans-serif;
  background: url(CoreMap-Pattern-Small-Blue.png);
  background-attachment: fixed;
}

.nav-bar {
  position: fixed;
  width: 100%;
  background-color: #605F5E;
  height: 130px;
  display: inline-block;
}

.cursor {
  float: left;
  cursor: pointer;
  /* height: 80px; */
  font-size: 20;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.other-links {
  float: right;
  width: 30vw;
}

.home-link, .other-links {
  margin-top: 1%;
  padding: 10px 10px;
}

.other-links{
  margin-right: 7%;
}

.home-link {
  margin-left: 7%;
}

.section-link {
  float: right;
}

.content {
  padding-top: 130px;
}

.section {
  height: 100vh;
  margin-left: 7%;
  margin-right: 7%;
  border: solid;
  border-width: 5px;
  border-color: black;
  background-color: #033049;
  opacity: 100%;
}

.bottom-anchor {
  background-color: grey;
}
